Build/
Intermediate/
DerivedDataCache/
Saved/

Binaries/
/Plugins/*/Binaries
/Plugins/*/Intermediate
Content/TopDownProject/Maps/Proto/*BuiltData.uasset
.vs/
.idea/
.vscode/
.vsconfig

*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.db

# OS Specific Files
Thumbs.db
*.DS_Store
